{% extends 'base.html.twig' %}

{% block title %}Tous les bons plans{% endblock %}

{% block body %}
    {% block header %}
    {% endblock %}
    {% block banner %}
    {% endblock banner %}
    <section class= "all-articles">
        {% include "_flashmessages.html.twig" %}
        <h2 class="text-center text-dark bg-primary p-3 text-white">Tous les bons plans</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 pt-5 m-5">
            {% for article in articles %}
            <div class="col">
                <div class="card border border-primary">
                    <img src = "../upload/{{ article.picture }}" class="card-img-top" style="height: 200px; width:auto" alt="image de {{ article.title }}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between ">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <i class="bi bi-heart" style="font-size: 1.5rem; color: dark;"></i>
                        </div>
                        <div class="d-flex justify-content-start mb-3">
                            <p class="card-text fst-italic">Quartier {{ article.district.name }} - partagé par {{ article.author.pseudo }}</p>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="{{ path('articles_show', {'id': article.id}) }}" class="btn btn-dark">Découvrir</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
